
@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/Scripts/professor/professorRepository.js"></script>
    <script src="~/Scripts/professor/professor.js"></script>

}


<div class="row" id="app-professor">
    <div class="col-md-12">
        <h3>Cadastro de Professor</h3>
    </div>
    <form>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Nome</label>
                <input type="text" name="nome" class="form-control" v-model="professor.Nome" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">CPF</label>
                <input type="text" name="CPF" class="form-control cpf" v-model.lazy="professor.CPF" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Maior Titulação</label>
                <input type="text" name="maiorTitulacao" class="form-control" v-model="professor.Titulacao" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Área de Formação</label>
                <input type="text" name="areaFormacao" class="form-control" v-model="professor.AreaFormacao" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Currículo Latters (Link)</label>
                <input type="text" name="curriculoLetters" class="form-control" v-model="professor.CurriculoLetters" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Data Atualização</label>
                <input type="text" name="dataAtualizacao" class="form-control mydate" v-model.lazy="professor.DataAtualizacao" />
            </div>
        </div>
    </form>
    <div class="col-md-12">
        <button class="btn btn-primary" v-on:click="salvar()"><i class="fa fa-save"></i> Salvar</button>
        <button class="btn btn-default"><i class="fa fa-times"></i> Cancelar</button>
    </div>
</div>


