@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts {

    <script src="~/Scripts/projetoPedagogico/projetoPedagogicoRepository.js"></script>
    <script src="~/Scripts/projetoPedagogico/projetoPedagogico.js"></script>
}


<div class="row" id="app-pp">
    <div class="col-md-12">
        <h3>Projeto Pedagógico de Curso</h3>
    </div>

    <form>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Curso</label>
                        <select class="form-control" name="curso" v-model="pp.Curso">
                            <option v-for="curso in pp.Cursos" v-bind:value="curso.CursoId">
                                {{ curso.Descricao }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Perfil Curso</label>
                <textarea class="form-control noresize" v-model="pp.PerfilCurso" rows="8"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Perfil de Egresso</label>
                <textarea class="form-control noresize" v-model="pp.PerfilEgresso" rows="8"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Forma de Acesso Curso</label>
                <textarea class="form-control noresize" v-model="pp.FormaAcesso" rows="8"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Representação Gráfica de um Perfil de Formação</label>
                <textarea class="form-control noresize" v-model="pp.RepresentacaoGrafica" rows="8"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Sistema de Avaliação do Processo Ensino Aprendizagem</label>
                <textarea class="form-control noresize" v-model="pp.SistemaAprendizagem" rows="8"></textarea>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Trabalho de Conclusão do Curso</label>
                <select class="form-control" v-model="pp.TrabalhoConclusao">
                    <option value="S">Sim</option>
                    <option value="N">Não</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Estágio Curricular</label>
                <select class="form-control" v-model="pp.EstagioCurricular">
                    <option value="S">Sim</option>
                    <option value="N">Não</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Pratica de Atendimento a Pessoas com Deficiência e/ou Mobilidade Reduzida</label>
                <textarea class="form-control noresize" v-model="pp.PraticaAtendimento" rows="8"></textarea>
            </div>
        </div>
    </form>
    <div class="col-md-12">
        <button class="btn btn-primary" disabled="disabled" v-on:click="salvar()"><i class="fa fa-save"></i> Salvar</button>
        <button class="btn btn-default" disabled="disabled"><i class="fa fa-times"></i> Cancelar</button>
    </div>
</div>

